    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
        font-family: 'Open Sans', 'Cormorant' sans-serif;
        font-weight: 400;
        font-size: 16px;
        --color-dark: #1D2F30;
        --color-grey: #899D9D;
        --color-green: #BAE249;
        --color-green-active: #688B05;
        --icon-hover: #91AC46;
        --shade-color: #0B1919;
        --green-text: #506829;
    }

    body {
        background-color: var(--color-dark);
    }

    .container {
        width: 1140px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }


    /* HEADER */

    .header {
        padding-top: 17px;
        padding-bottom: 18px;
        color: #FFFFFF;
    }

    .header-row {
        display: flex;
        align-items: center;
    }

    .header-nav {
        margin-left: 125px;
        text-decoration: none;
    }
    
    a {
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        color:white;
      }


    .header-nav ul {
        display: flex;
    }

    li:active {
        transform: scale(1.01);
    }

    .header-nav li + li {
        margin-left: 64px;
    }

    .header-nav a {
        transition: color 0.2s ease;
    }

    .header-nav a:hover {
        color: var(--color-green);
    }

    .header-nav a:active {
        color: var(--color-green-active);
        transition: color 0.2s ease;
    }

    .header-login {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .header-login > * + * {
        margin-left: 64px;
    }

    span {
        transform: scale(1.2);
        color: var(--color-green);
        transition: color 0.2s ease;
    }

    span:hover {
        color: var(--icon-hover);
        transition: color 0.2s ease;
    }

    span:active {
        color: var(--color-green-active);
        transform: scale(1.3);
    }

/* HOME */

.home {
    padding: 115px 0px;
    max-height: 550px;
    position: relative;
    background-image: url(../header/shade.png);
}

.home-content {
    max-width: 688px;
}
.home-heading {
    font-family: 'Cormorant' sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.home-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.arrow {
    color: var(--color-green);
    font-weight: 700;
}

.arrow:hover {
    color: var(--icon-hover);
    transition: color 0.2s ease;
    transform: scale(1.2);
}

.arrow:active {
    color: var(--color-green-active);
}

.home-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.home-bg-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* CARDS */

.cards {
    max-height: 555px;
    margin: 60px 0px 26px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 255px;
    height: 493px;
    position: relative;
    border: solid 1px var(--shade-color);
    border-radius: 3px;
}


.box {
    width: 223px;
    height: 273px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.box2 {
    height: 180px;
    background-color: var(--shade-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    position: absolute;
    top: 16px;
    left: 16px;
}

.name {
    font-family: 'Cormorant', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-grey);
    margin-bottom: 16px;
}

.btn {
    font-family: 'Open Sans' sans-serif;
    font-weight: 700;
    color: var(--color-green);
    background-color: var(--color-dark);
    border: solid 1px var(--color-green);
    padding: 10.5px 28.5px;
    align-self: start;
    margin-top: auto;
}

.btn:hover {
    color: var(--shade-color);
    background-color: var(--color-green);
    transition: color 0.1s ease;
}

.btn:active {
    color: var(--shade-color);
    background-color: var(--color-green-active);
    transition: color 0.2s ease;
    border: none;
}

.btn:disabled {
    color: var(--color-grey);
    border: var(--color-grey);
}

/* CAROUSEL */

.arrows {
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-bottom: 57px;
}

.scroll {
    background-color: var(--color-dark);
    border: none;
}

.material-icons2 {
    color: var(--color-grey);
}

.material-icons2:hover {
    color: var(--color-green);
    transform: scale(1.5);
}

.material-icons2:active {
    color: var(--color-green-active);
    transform: scale(1.2);
}

.carousel-text {
    font-family: 'Cormorant', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}


/* COLLECTION */

.new-artifacts {
    height: 571px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    margin-bottom: 60px;
}

.collection-title {
    font-family: 'Cormorant', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    position: absolute;
    align-self: start;
}

.box-collection {
    width: 845px;
    height: 493px;
    background-color: var(--shade-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.upper-box {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;
    padding: 16px 16px 0 16px;
}
.moss {
    position: absolute;
    left: 16px;
    top: 16px;
}
.num42 {
    position: absolute;
    left: 16px;
    top: 142px;
}
.num72 {
    position: absolute;
    left: 334px;
    top: 16px;
}
.num27 {
    position: absolute;
    left: 516px;
    top: 50px;
}

.lower-box {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 16px;
    gap: 60px;
}
.num51 {
    position: absolute;
    left: 156px;
    top: 381px;
}
.num94 {
    position: absolute;
    left: 394px;
    top: 453px;
}
.num17 {
    position: absolute;
    left: 632px;
    top: 184px;
}
.num23 {
    position: absolute;
    left: 755px;
    top: 453px;
}

.flower {
    position: absolute;
    left: 16px;
    top: 184px;
}

.primary {
    width: 255px;
    height: 493px;
    background-color: var(--color-green);
}

.primary-title {
    font-family: 'Cormorant', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--shade-color);
    padding: 16px 0 8px 16px;
}

.primary-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--green-text);
    padding-left:16px;
    padding-right: 16px;
}

.primary-text2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--green-text);
    padding: 40px 16px 0 16px;
}

.primary-btn {
    padding-top: 75px;
}

.primary-arrow {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 16px;
    color: var(--shade-color);
}

.primary-arrow:hover {
    color: var(--color-green-active);
    transition: color 0.2s ease;
    transform: scale(1.2);
}

.primary-arrow:active {
    color: var(--green-text);
}

.primary-arrow:disabled {
    color: var(--color-grey);
}

/* FEEDBACK */

.feedback-form {
    height: 463px;
    position: relative;
    background-image: url(../footer/shade2.png);
}

.feedback-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

    .feedback-bg-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #foot-container {
        height: 463px;
        display: flex;
        align-items: center;
    }
    

    .form {
        width: 825px;
        display: flex;
        flex-direction: column;
    }

    .form-title {
        font-family: 'Cormorant', sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .form-text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    #form-btn {
        font-weight: 700;
        color: var(--shade-color);
        background-color: var(--color-green);
        border: none;
    }

    #form-btn:hover {
        background-color: var(--icon-hover);
        transition: color 0.2s ease;
    }

    #form-btn:active {
        background-color: var(--color-green-active);
        transition: color 0.2s ease;
        transform: scale(0.98);
    }

    input {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        width: 350px;
        height: 45px;
        border: none;
        outline:none;
        margin-bottom: 24px;
        color: var(--color-grey);
    }
    
    input:hover {
        background-color: var(--color-grey);
        color: #FFFFFF;
    }


    input:focus {
        color: #0B1919;
        border-color: var(--color-grey);
    }

    input:active {
        background-color: var(--color-grey);
        color: #FFFFFF;
    }

    input::after {
        content: "";
        background-color: var(--color-grey);
        color: #FFFFFF;
    }
/* FOOTER */

.foot-one {
    height: 60px;
    background-color: var(--shade-color);
}

.foot-two {
    height: 20px;
    background-color: var(--color-dark);
}